$background: #121421;
$background2: #1e2336;
$background3: #131722;
$background4: #232a3d;
$hr: rgba(255, 255, 255, 0.26);
$color: #fff;
$blue: #3e5ea6;

$souvenir: #ffe60a;
$stattrak: #cd6932;
$green: #27aa5c;
$orange: orange;
$red: #e63a12;

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: $background;
    color: $color;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    // position: absolute;

    width: 100%;
    height: 100%;
    // --color: rgba(114, 114, 114, 0.11);
    // background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    //     linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    // background-size: 55px 55px;
}

.green {
    color: $green;
}

.orange {
    color: $orange;
}

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.souvenir {
    color: $souvenir;
}

.stattrak {
    color: $stattrak;
}

.header {
    // position: absolute;
    overflow: hidden;

    .content {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 10px;

        img {
            max-height: 100%;
            margin-right: auto;
        }

        button {
            background: none;
            border: none;
            color: $color;
            font-size: 20px;
            margin: 0 5px;
            font-weight: lighter;

            &:hover {
                color: $blue;
                cursor: pointer;
            }
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 4fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 100%;
    height: 100vh;
    grid-template-areas:
        "header header header header"
        "sidenav control control control"
        "sidenav stats stats sidecontrol"
        "sidenav list list list";

    >div {
        border: 1px solid $hr;
    }
}

.header {
    grid-area: header;
    background-color: $background;
}

.sidenav {
    grid-area: sidenav;
    background-color: $background2;

    padding: 10px;
    max-height: 100%;
    overflow: auto;

    h2 {
        text-align: center;
    }

    hr {
        border: 1px solid $hr;
        margin: 5px 0;
    }

    form {
        width: 100%;

        input,
        select {
            width: 100%;
            background-color: $background4;
            color: $color;
            border: none;
            outline: none;
            padding: 5px 10px;
            margin: 4px 0;
            font-size: 16px;
        }

        input[type="submit"] {
            &:hover {
                opacity: .8;
                cursor: pointer;
            }

            &.greenbtn {
                background-color: $green;
            }

            &.bluebtn{
                background-color: $blue;
            }

            &.redbtn{
                background-color: $red;
            }
        }
    }
}

.control {
    grid-area: control;
    display: flex;
    align-items: center;
    background-color: $background;

    button {
        background-color: $background2;
        outline: none;
        color: $color;
        border: none;
        margin: 0 0 0 10px;
        font-size: 19px;
        padding: 10px;

        &:hover {
            cursor: pointer;
            background-color: $blue;
        }
    }
}

.sidecontrol {
    background-color: $background;
    grid-area: sidecontrol;
    max-height: 100%;
    overflow: auto;

    ul {
        padding-left: 0;
        list-style: none;

        li {
            padding: 5px 0;
            text-align: center;

            &.green {
                background-color: #27aa5b18;
            }

            &.red {
                background-color: #e63a1218;
            }

            &.blue {
                background-color: #3e5ea618;
            }
        }
    }
}

.list {
    background-color: $background;
    grid-area: list;
    max-height: 100%;
    overflow: auto;

    table {
        width: 100%;

        tr {
            &:hover {
                background-color: $background3;
            }
        }

        td {
            padding: 5px 0;
        }

        button {
            cursor: pointer;
        }
    }
}

.stats {
    grid-area: stats;

    max-height: 100%;
    overflow: hidden;
    position: relative;

    canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #myPieChart {
        max-width: 60%;
    }
}

.notif{
    background-color: #445f9e6c;
    color: $color;
    padding: 8px 4px;
    border-radius: .3rem;
    font-size: 18px;
    transition: .4s;

    &:hover{
        padding: 8px;
    }

    cursor: default;

    &.error{
        background-color: #e63a126c;
    }

    &.success{
        background-color: #27aa5c6c;
    }

    i{
        margin: 0 10px;
    }
}