$green: green;
$orange: #bd7b00;
$red: red;
$blue: rgb(70, 70, 255);
$background:#ffffff;
$background2:#f3f3f3;
$background3:#ffffff;
$color:#0e0e0e;
$souvenir:#998200;
$stattrak:#cd6932;

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $background;
    color: $color;
    font-family:Arial, Helvetica, sans-serif;
}

.notif{
    text-align: center;
    p{
        color: $background;
        padding: 10px;
    }
    &.success{
        background-color: $green;
    }
    &.notification{
        background-color: $orange;
    }
    &.error{
        background-color: $red;
    }
}

#settings{
    display:none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid $color;
    background-color: $background3;
    border-radius: .5rem;
    padding: 10px;
    width: 60vw;
    height: 80vh;
    z-index: 999;

    h2{
        text-align: center;
        margin: 10px 0;
    }

    hr{
        margin: 20px 0;
    }
}

.green{
    color: $green;
}
.orange{
    color: $orange;
}
.red{
    color: $red;
}
.blue{
    color: $blue;
}
.souvenir{
    color: $souvenir;
}
.stattrak{
    color: $stattrak;
}

img{
    max-width: 100%;
}

header{
    h1{
        text-align: center;
        margin: 5px 0 20px 0;
    }

    .container{
        display: flex;

        > div{
            flex: 1;
            text-align: center;

            > img{
                height: 200px;
            }
        }

        .mpi{
            ul{
                list-style: none;
                padding-left: 0;

                li{
                    font-size: 18px;
                    margin: 10px 0;
                    // display: flex;
                    i{
                        vertical-align: middle;
                        font-size: 20px;
                    }
                }

                hr{
                    max-width: 300px;
                    margin: 0 auto;
                }
            }

            .bar{
                width: 100px;
                height: 20px;
                border: 1px solid #000;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .graph{
            canvas{
                max-height:300px;
            }
        }

        .actionlist{
            display: flex;
            margin: 10px 0;
            button{
                cursor: pointer;
                font-size: 16px;
                margin: 5px;
            }
        }
    }
}

table{
    max-width: 90vw;
    margin: 5vh auto;
    border-collapse: collapse;
    caption-side: top;
    font-feature-settings: "tnum";
    inline-size: 100%;
    margin-block-end: 1.5rem;
    vertical-align: middle;
    color: $color;
    transition: .4s;
    thead{
        border: 1px solid $color;
    }
    tbody{
        border: 1px solid gray;
        td{
            padding: 5px;
            &:nth-child(7),&:nth-child(6), &:nth-child(5){
                text-align: center;
            }
        }
        tr:hover{
            background-color: #0e0e0e21;
        }
    }
}