* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #121421;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  width: 100%;
  height: 100%;
}

.green {
  color: #27aa5c;
}

.orange {
  color: orange;
}

.red {
  color: #e63a12;
}

.blue {
  color: #3e5ea6;
}

.souvenir {
  color: #ffe60a;
}

.stattrak {
  color: #cd6932;
}

.header {
  overflow: hidden;
}
.header .content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
}
.header .content img {
  max-height: 100%;
  margin-right: auto;
}
.header .content button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
  font-weight: lighter;
}
.header .content button:hover {
  color: #3e5ea6;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100%;
  height: 100vh;
  grid-template-areas: "header header header header" "sidenav control control control" "sidenav stats stats sidecontrol" "sidenav list list list";
}
.container > div {
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.header {
  grid-area: header;
  background-color: #121421;
}

.sidenav {
  grid-area: sidenav;
  background-color: #1e2336;
  padding: 10px;
  max-height: 100%;
  overflow: auto;
}
.sidenav h2 {
  text-align: center;
}
.sidenav hr {
  border: 1px solid rgba(255, 255, 255, 0.26);
  margin: 5px 0;
}
.sidenav form {
  width: 100%;
}
.sidenav form input,
.sidenav form select {
  width: 100%;
  background-color: #232a3d;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 10px;
  margin: 4px 0;
  font-size: 16px;
}
.sidenav form input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}
.sidenav form input[type=submit].greenbtn {
  background-color: #27aa5c;
}

.control {
  grid-area: control;
  display: flex;
  align-items: center;
  background-color: #121421;
}
.control button {
  background-color: #1e2336;
  outline: none;
  color: #fff;
  border: none;
  margin: 0 0 0 10px;
  font-size: 19px;
  padding: 10px;
}
.control button:hover {
  cursor: pointer;
  background-color: #3e5ea6;
}

.sidecontrol {
  background-color: #121421;
  grid-area: sidecontrol;
  max-height: 100%;
  overflow: scroll;
}
.sidecontrol ul {
  padding-left: 0;
  list-style: none;
}
.sidecontrol ul li {
  padding: 5px 0;
  text-align: center;
}
.sidecontrol ul li.green {
  background-color: rgba(39, 170, 91, 0.0941176471);
}
.sidecontrol ul li.red {
  background-color: rgba(230, 58, 18, 0.0941176471);
}
.sidecontrol ul li.blue {
  background-color: rgba(62, 94, 166, 0.0941176471);
}

.list {
  background-color: #121421;
  grid-area: list;
  max-height: 100%;
  overflow: auto;
}
.list table {
  width: 100%;
}
.list table tr:hover {
  background-color: #131722;
}
.list table td {
  padding: 5px 0;
}
.list table button {
  cursor: pointer;
}

.stats {
  grid-area: stats;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}
.stats canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stats #myPieChart {
  max-width: 60%;
}/*# sourceMappingURL=style.css.map */